/*  URL : jowinchemban.github.io
    This CSS (style.css) is a part of portfolio website of Jowin John Chemban.
*/

/* HOME PAGE #START */

.arrowdown {
  padding-top: 20px;
  padding-bottom: -50px;
  text-align: center;
  -webkit-animation: action 1s infinite  alternate;
  animation: action 1s infinite  alternate;
}

@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

@media only screen and (min-width: 1024px) {
  .arrowdownimg {
    width: 3.5vw;
    padding-top: 5vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .arrowdownimg {
    width: 4.5vw;
    padding-top: 5vh;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .arrowdownimg {
    width: 5vw;
    padding-top: 5vh;
  }
}

@media only screen and (max-width: 319px) {
  .arrowdownimg {
    width: 8vw;
    padding-top: 5vh;
  }

}

/* HOME PAGE #END */

/* HEADER #START */

.bar {
  overflow: hidden;
  z-index: 9999;  
  height: 50px;
  width: 100%;
  background-color: #000000;
  border-bottom: 5px solid #00c7ff;
}


/* HEADER #END */
/* PROJECT DISPLAY #START */

.projectdisplay {
  height: auto;
  background-color: azure;
}

.projectdisplay h1 {
  text-align: center;
  font-size: 40px;
  padding: 0 0 50px 0;
}

.projectdisplay .projectwrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 390px);
  grid-gap: 20px;
  justify-content: center;
}

.projectdisplay .projects {
  position: relative;
  height: auto;
  width: 400px;
}

.projectdisplay .projects img {
  display: block;
  width: 100%;
  height: auto;
}

.projectdisplay .projects .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  backdrop-filter: blur(20px);
  background-color: transparent;
  border: 1px solid black;
}

.projectdisplay .projects:hover .overlay {
  opacity: 1;
}

.projectdisplay .projects .overlay .text {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.projectdisplay .projects .overlay .viewprojectbutton {
  top: 80%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #007bff;
  padding: 3px 12px;
}

.projectdisplay .projects .overlay .viewprojectbutton:hover {
  background-color: #007bff;
  color: white;
  animation-name: viewprojectbutton;
  animation-duration: 0.5s;
}

@keyframes viewprojectbutton {
  from {
    background-color: white;
  }

  to {
    background-color: #007bff;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .projectdisplay {
    padding: 97px 10px 97px 10px;
  }

  .projectdisplay h1 {
    font-size: 35px;
  }

  .projectdisplay .projectwrapper {
    grid-template-columns: auto;
    grid-gap: 50px;
  }

  .projectdisplay .projects {
    height: auto;
    width: auto;
  }

  .projectdisplay .projects .overlay .text {
    width: 90%;
  }

  .projectdisplay .projects .overlay .viewprojectbutton {
    top: 85%;
  }
}

@media only screen and (max-width: 767px) {
  .projectdisplay {
    padding: 97px 10px 97px 10px;
  }

  .projectdisplay h1 {
    font-size: 5.5vw;
  }

  .projectdisplay .projectwrapper {
    grid-template-columns: auto;
    grid-gap: 50px;
  }

  .projectdisplay .projects {
    height: auto;
    width: auto;
  }

  .projectdisplay .projects .overlay .text {
    color: black;
    font-size: 3.5vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/* PROJECT DISPLAY #END */


/* ACCOMPLISHMENTS DISPLAY #START */

.accomplishmentsdisplay {
  height: auto;
  background-color: white;
  text-align: center;
}

.accomplishmentsdisplay h1 {
  text-align: center;
  font-size: 40px;
  padding: 0 0 50px 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .accomplishmentsdisplay {
    padding: 97px 10px 97px 10px;
  }

  .accomplishmentsdisplay h1 {
    font-size: 35px;
  }
}
  @media only screen and (max-width: 767px) {
    .accomplishmentsdisplay {
      padding: 97px 10px 97px 10px;
    }

    .accomplishmentsdisplay h1 {
      font-size: 5.5vw;
    }

  }
    /* ACCOMPLISHMENTS DISPLAY #END */